NEXT_PUBLIC_SUPABASE_URL=https://jueimdlhlobzvtymobat.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_jiiuwaLfoy9myybS2uvZcw_WidyiNtc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1ZWltZGxobG9ienZ0eW1vYmF0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTcxMTA4MiwiZXhwIjoyMTA1Mjg3MDgyfQ.3m9Kn-4GObqJLOpGg_-kAm3QLeBHoUHPoZb27kGkDkg

# Admin user (first login)
ADMIN_EMAIL=admin@phibuilding.vn
ADMIN_PASSWORD=ChangeMeToSecurePassword123!
